@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
  /* padding: 4rem; */
  transition: background 0.3s linear, color 0.3s linear;
}

body.dark {
  background: #1f1f1f;
  color: white;
}

.toggle-container {
  position: fixed;
  top: 10px;
  right: 10px;
}
.toggle-btn {
  background-color: rebeccapurple;
  border-radius: 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select: none;
}
#toggle {
  visibility: hidden;
}
body.dark .toggle-btn {
  background-color: steelblue;
}
body.dark .submit-btn {
  background-color: steelblue;
  border-color: steelblue;
  font-size: 20px;
}

/* input {
  visibility: hidden;
} */

.container {
  border-radius: 10px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}
.header {
  background-color: #f7f7f7f1;
  border-bottom: 1px solid #f0f0f0;
  color: #1f1f1f;
  padding: 20px 40px;
}
.header h2 {
  margin: 0;
}

form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  font-weight: bolder;
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  font-weight: bold;
  border-radius: 7px;
  display: block;
  font-size: 14px;
  font-family: inherit;
  /* padding: 10px; */
  width: 100%;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}
.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}
.form-control.error small {
  color: #e74c3c;
  font-weight: bold;
  visibility: visible;
}

.form-control i {
  position: absolute;
  top: 35px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form button {
  background-color: rebeccapurple;
  color: white;
  border: 2px solid rebeccapurple;
  display: block;
  border-radius: 12px;

  width: 100%;
  padding: 10px;
  font-size: 20px;
}
